img { 
  width: 30%;
  margin: 0.6em ;
  border: 0.4em solid;
}

body {
  text-align: justify;
  color: black;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
