img { 
  width: 30%;
  margin: 0.6em ;
  border: 0.4em solid;
}

body {
  text-align: justify;
  color: black;
}

input[type=text]{
  width: 60%;
  margin: 0px 0;
  box-sizing: border-box;
}

textarea{
  width: 60%;
  padding: 3em 4em;
  margin: 8px 0;
  box-sizing: border-box;
}